/* Cascating Stylesheet = folha de estilo em cascata */
* {
  margin: 0%;
}
html,
body {
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  display: grid;
  place-items: center;
}
main {
  background: url(images/Mobile.png);
  width: 375px;
  height: 812px;
  color: var(--gray);
}
.container {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
}
